<!DOCTYPE html>
<html>
<head>
  <title>MusicList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <h1><%= link_to 'HitLister'%> <h1> <img src ="assets/logo.png" class = "logo">
HitLister -->
<%= link_to root_path do %>
   <%= image_tag "logo.png", class: "logo" %>
<% end %>
<%= yield %>

</body>
</html>
